{% extends 'accounts/base.html' %}

{% load static %}

{%block content%}
    <div class="container">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container ">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Sign in</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        {{ form.email }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form.password }}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Sign in</button>
                                    </div>
                                </form>
                                <p class="text-center text-muted mt-5 mb-0">Do not have an account?
                                    <a href="{% url 'sign_up' %}" class="fw-bold text-body"><u>Signup here</u></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}