<footer class="container">
    <div class="row">
        <div class="col">
            <h4>Contact Us</h4>
            <p>Email: info@coffeeshopassistant.com</p>
        </div>
        <div class="col">
            <h4>Follow Us</h4>
            <p><i class="fab fa-facebook"></i> <a href="#">Facebook</a></p>
            <p><i class="fab fa-twitter"></i> <a href="#">Twitter</a></p>
            <p><i class="fab fa-instagram"></i> <a href="#">Instagram</a></p>
            <p><i class="fa fa-youtube" aria-hidden="true"></i><a href="#">Youtube</a></p>
            <p><i class="fa-brands fa-tiktok"></i><a href="#">Tik Tok</a></p>
        </div>
        <div class="col">
            <h4>Quick Links</h4>
            <ul>
                <li><p><a id="conditionalLink2" href="#">Guide</a></p></li>
                <li><p><a href="{% url 'jobs' %}">Jobs</a></p></li>
                <li><p><a href="{% url 'contact' %}">Contact</a></p></li>
                <li><p><a href="{% url 'blog' %}">About</a></p></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>&copy; 2023 CoffeeShop_Assistant. All rights reserved.</p>
        </div>
    </div>
</footer>