<header>
    <div class="row align-items-start">
        <h1 class="col name">CoffeeShop_Assistant</h1>
        <div class="col" >
            <nav class="row align-items-start">
                <a class="col dissapear_768" id="conditionalLink" href="#">Guide</a>
                <a class="col" href="{% url 'app' %}">APP</a>
                <a class="col" href="{% url 'jobs' %}">Jobs</a>
                <a class="col dissapear_768" href="{% url 'contact' %}">Contact</a>
                <a class="col" href="{% url 'sign_up' %}">Sign up or Login</a>
            </nav>
        </div>
    </div>
</header>